.header{
    color:#fff;
    display: flex;
    padding:20px;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}
.header__icons{
display: flex;
align-items:center ;
text-align: center;    
}

.header__icon{
    display: flex;
    flex-direction: column;
    width:100px;
    cursor: pointer;
    margin-right: 30px; 
    }
.header__icon > .MuiSvgIcon-root{
    margin-left:auto;
    margin-right:auto;
    font-size: 30px;;
}
.header__icon > p{
    display: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left:auto;
    margin-right:auto;
    font-size: small;
    transition:all 0.3s ease-out
}
.header__icon--active > p {
    display: inline-flex !important;
}
.header__icon:hover > p{
display: inline;
}

.header > img {
    object-fit: contain;
    height: 80px;
}

/* hide scrollbar for chrome,safaro and opera */
.header::-webkit-scrollbar{
    display: none;
}
/* hide scrollbar for IR,Edge and firefox */
.header{
   -ms-overflow-style:none;/*IE and Edge*/
   scrollbar-width:none ;/*firefox*/
}
