.nav{
    display: flex;
    color: white;
    overflow-x: scroll;
    padding:10px;
    padding-left: 40px;
}
.nav > h2{
    cursor:pointer;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
    opacity: .7;
    font-size:16px;
    transition:all 0.2s ease-out;
}
.nav > h2:hover{
    opacity: 1;
    transform:scale(1.2);
   
}

/* hide scrollbar for chrome,safaro and opera */
.nav::-webkit-scrollbar{
    display: none;
}
/* hide scrollbar for IR,Edge and firefox */
.nav{
   -ms-overflow-style:none;/*IE and Edge*/
   scrollbar-width:none ;/*firefox*/
}
